body{
    background-color: rgb(97, 35, 120);
    color: #fff;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.menu
{
    background-color: rgb(97, 35, 120);
    border: 1px solid #000;
    border-bottom: none;
    border-top: none;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
}

.queue{
    background-color: rgb(97, 35, 120);
    border: 1px solid #000;
    border-bottom: none;
    border-top: none;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 15px;
    height: 25px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}


.queue > button
{
    background-color: white;
    border: none;
    color: rgb(97, 35, 120);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.history
{
    padding-top: 13%;
    display: inline-block;
    width: 100%;
}

.history > h3
{
    margin: auto;
    padding-left: 13%;
    font-size : 30px;
}

.history > #paragraph
{
    margin: auto;
    padding-left: 13%;
    font-size : 20px;
    display: inline-block;
}

.history > img {
    padding-left: 13%;
    display: inline-block;
}

.review
{
    padding-top: 5%;
    display: inline-block;
    width: 100%;
}

.review > h3{
    font-size:30px;
}

.review > #first 
{
    padding-left: 13%;
    font-size : 20px;
    display: inline-block;
}

.review > #first > p
{
    padding-left: 2%;
    font-size : 20px;
    margin: auto;
    
}

.review > #second 
{
    padding-left: 13%;
    font-size : 20px;
    display: inline-block;
}

.review > #second > p
{
    padding-left: 2%;
    font-size : 20px;
    margin: auto;
    
}

.review > #third 
{
    padding-left: 13%;
    font-size : 20px;
    display: inline-block;
}

.review > #third > p
{
    padding-left: 2%;
    font-size : 20px;
    margin: auto;   
}

.map > #about > h3
{
    font-size : 15px;
}
